@import url("http://fonts.googleapis.com/css?family=Lato:100");

* {margin: 0; padding: 0;}

html, body {height: 100%;}

#hex {
	color: white; font: 64px/64px Lato; height: 64px;

	position: relative; top: 50%; margin-top: -32px;

	text-align: center;
}
#t {
	color: white; font: 20px Lato; height: 32px;

	position: relative; top: 50%; margin-top: 0px;

	text-align: center;
}

.background {
	width: 100%;
	height: 100%;
	position: absolute;
	vertical-align: middle;       
}